
.pic {
   opacity: 0;
}
.pic img {
   transition-delay: 1s;
}

.container {
   min-height: 100vh;
   width: 100vw;
   overflow: visible;
}

#custom-cursor {
   position: fixed;
   z-index: 9999;
   /* display: none; */
   height: 30px;
   width: 30px;
   user-select: none;
   pointer-events: none;
   transform: scale(0.8);
   overflow: visible;
   transform: translateX(-50%) translateY(-50%);
}
#custom-cursor::before{
   content: '';
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-image: url('img/tech-circles/tech-circle.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   animation: rotate 3s linear infinite;
}

#hov-ptr {
   position: fixed;
   width: 0px;
   height: 0px;
   transition-property: height, width;
   transition-duration: 500ms;
   z-index: 9999;
   pointer-events: none;
   /* display: none; */
   transform: translateX(-50%) translateY(-50%);
}
#hov-ptr::before {
   content: '';
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-image: url('img/tech-circles/mid-circle-1.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   animation: rotate 4s reverse linear infinite;
}
#txt-cursor {
   position: fixed;
   width: 0px;
   height: 0px;
   transition-property: height, width;
   transition-duration: 500ms;
   z-index: 9999;
   pointer-events: none;
   /* display: none; */
   transform: translateX(-50%) translateY(-50%);
}
#txt-cursor::before {
   content: '';
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-image: url('img/Assets/txt-cursor.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

